# Binaries
**/bin/
bin-int/
!vendor/premake/bin/

# Visual Studio Files, Directories & Folders
.vs/
**.user
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.ini
**.sln

# Unnecessary Files
**/ResultOutputFiles/
*.log
*.json
*.psd
#*.kaimos
#*.kaimossave