

# Binaries
**/bin/
bin-int/
!vendor/bin/premake/

# Visual Studio Files, Directories & Folders
.vs/
**.user
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.ini
**.sln

# Unnecessary Files
**/ProfileResults/