[submodule "KaimosEngine/vendor/spdlog"]
	path = KaimosEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "KaimosEngine/vendor/GLFW"]
	path = KaimosEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "KaimosEngine/vendor/imgui"]
	path = KaimosEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
