[submodule "KaimosEngine/vendor/spdlog"]
	path = KaimosEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "KaimosEngine/vendor/GLFW"]
	path = KaimosEngine/vendor/GLFW
	url = https://github.com/lucho1/glfw
	branch = master
[submodule "KaimosEngine/vendor/imgui"]
	path = KaimosEngine/vendor/imgui
	url = https://github.com/lucho1/imgui
	branch = docking
[submodule "KaimosEngine/vendor/glm"]
	path = KaimosEngine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "KaimosEngine/vendor/yaml"]
	path = KaimosEngine/vendor/yaml
	url = https://github.com/lucho1/yaml-cpp
